* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Helvetica", Times, serif;
}
p {
  line-height: 1.4;
}
.main-container {
  width: 100%;
  height: 100vh;
}
.main-section {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.content-header {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
}

.sec {
  position: relative;
  width: 100%;
  height: 280px;
  float: left;
  border: 1px solid black;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 0;
}
#chicken-sec {
  background-color: #badfdb;
}
#beef-sec {
  background-color: #badfdb;
}
#sushi-sec {
  background-color: #badfdb;
}
.sec-title {
  position: absolute;
  right: -1px;
  top: -1px;
  width: 33.33%;
  padding: 5px 0 5px 0;
  border: 1px solid black;
  background-color: white;
  text-align: center;
}

#chicken {
  background-color: #49beb7;
}
#beef {
  background-color: #ff8a5c;
  color: white;
}
#sushi {
  background-color: #f6d365;
}

.content {
  padding: 55px 15px 15px 15px;
}

@media all and (min-width: 768px) {
  .main-section {
    width: 95%;
  }
  .sec {
    width: 47.1%;
    height: 300px;
    margin-left: 1.4%;
    margin-right: 1.4%;
  }
  #sushi-sec {
    width: 100%;
    height: 300px;
  }
}

@media all and (min-width: 992px) {
  .main-section {
    width: 100%;
    margin: 0 auto;
  }
  .sec {
    width: 31%;
    height: 350px;
    margin-left: 1%;
    margin-right: 1%;
  }
  #sushi-sec {
    width: 31%;
    height: 350px;
  }
}
